{% extends "base.html" %}

{% block content %}

    <h1 align='center'>Add a Blog Entry</h1>

<form method='POST'>
    <label for='title_name'>
        Title for your new blog:
        <br>
        <input class="box" type='text' name='blog_title' />
        <span class="error">{{title_error}}</span>
    </label>
    <br>
    <br>
    <label for='blog_post'>
        Your new blog:
        <br>
        <textarea class="box" name='blog_post' type="text" rows="10" cols="40"></textarea>
        <span class="error">{{post_error}}</span>
    </label>
    <br>
    <br>
    <input type='submit' value='Add Entry' />
</form>

{% endblock %}